.container {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  margin-bottom: 20px;
}

.textField {
  flex: 1;
}

.textField input {
  padding: 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 2px 4px rgb(220, 220, 220);
}

.container > button {
  width: 80px;
  border-radius: 5px;
  border: none;
  background-color: #a4161a;
  color: white;
  cursor: pointer;
}
